a {
    text-decoration: none;
    color: white;
}

.navLink {
    font-size: 20px;
    color: white;
}

a:hover {
    background-color:white;
    color:#303030;
    border-radius: 5px;
}

.imgContainer { 
    height: 350px;
}

.firstImgOfMe {
    border-radius: 10px;
}

.parClass {
    margin: 0 15%
}

.card33 {
    width: 33%;
}

.imght {
    height: 20%;
}

.imgWH {
    height: 500px;
        transition: 250ms ease;
}

.imgWH:hover {
    height: 900px;

}

.contactLinks a {
        background-color:white;
    color:#303030;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
  opacity: 1;
  display: block;
  width: 100%;
  height: 550px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.centered {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.centeredTwo {
 transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imgcontainer {
    position: relative;
  width: 33%; 
  margin: 5px
}


.imgcontainer:hover .img {
  opacity: 0.3;
}


.imgcontainer:hover .centered{
  opacity: 1;
}


.imgcontainer:hover .centeredTwo{
  opacity: 1;
}

.imgtxt {
      background-color: #04AA6D;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}


#navName:hover {
color:#303030
}

#resume {
    text-decoration: underline;
}